<div id="patient_basic_information_section">
<div class="section_title">Detailed information
  </div>
  <div id="patient_details">
  <table id="patient_details_table" class="general_table">
    <%
    keys = @details_for_display.keys
    keys.each do |key|
    %>
    <tr>
      <td><%=key %></td>
      <td><%=@details_for_display[key] %></td>
    </tr>
    <%end%>
  </table>
</div>
<br/><br/>
<div id="show_history_hyperlink">
  <a href="/myClinic/visitHistory?id=<%=@id%>" location="#visit_history_section">Show history</a>
</div>
</div>
<div id="record_visit_section"></div>
<div id="visit_history_section"></div>