<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/clinicr.css" />
  <script	type="text/javascript"	src="/js/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="/js/clinicr_search.js"></script>
  
</head>
<body>
  <div id="static_area">
    <div id="links" class="static_area_content">
      <a href="/addPatient/getAddPatientForm"><img src="/images/plus.png" width="6%"/></a>
    </div>
      <div id="user_info">
        <img src="<%=@user_img_url%>"/>
        <%=@user_name%>
      </div>
    <div id="search_form" class="static_area_content">
      <form method="post" action="/search/performSearch" name="search" id="search">
        <input type="textbox" name="search_field" id="search_field">
        <input type="image" src="/images/find.png" id="search_button">
      </form>
    </div>
  </div>
  <div id="content_area">
    <!--content area-->
  </div>
  <!-- overlayed element -->
<div class="apple_overlay" id="overlayArea">
  
  <!-- the external content is loaded inside this tag -->
</div>
<div id="overlayContent"></div>
</body>
</html>