<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/clinicr.css" />
  <script	type="text/javascript"	src="/js/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="/js/clinicr_search.js"></script>

</head>
<body>
  <div id="static_area">
    static area
    <div id="search_form">
      <form method="post" action="/myClinic/search" name="search" id="search">
        Search criteria : <input type="textbox" name="search_field">
        <input type="submit" value="Search">
      </form>
    </div>
  </div>
  <div id="content_area">
    content area
  </div>
</body>
</html>