<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/clinicr.css" />
  </head>
  <div id="welcome_message">Welcome to cliniCR</div>
  <div id="login_with">
  <a href="/login/loginWithGoogle">
      <img src="/images/Red-signin_Long_base_44dp.png"/>
    </a>
  </div>
</html>