<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/clinicr.css" />
  </head>
  <div id="welcome_message">
    <div id="welcome_message_title">Welcome to CliniCR</div>
    <div id="welcome_message_text">To access your account please login using your Google id by clicking on the Button alongside. <br/>Your session will be valid for an hour after login after which you would be prompted to login again.</div>
  </div>
  <div id="login_with">
  <a href="/login/loginWithGoogle">
      <img src="/images/Red-signin_Long_base_44dp.png"/>
    </a>
  </div>
</html>