<div class="section_title">Matches found
  </div>
  <br/>
  <div id="search_result_area">
    <table id="search_result" class="general_table scrollable_table">
      <thead>
      <%
      unless @no_search_result then
      %>
      <tr>
        <%@headers.keys.each do |header|%>
        <th><%=@headers[header]%></th>
        <%end%>
      </tr>
    </thead>
    <tbody>
      <%@result_for_display.each do |result|%>
      <tr>
        <%@headers.keys.each do |header|
          if(header == "name") %>
            <td id="search_result_hyperlink"><a href="/myClinic/details?id=<%= result["id"]%>"><%=result[header.downcase]%></a></td>
          <%else%>
            <td><%=result[header]%></a></td>
          <%end
          end%>
      </tr>
      <%
        end
      end
      %>
    </tbody>
    </table>
  </div>