<html>
  <body>
    <form method="post" action="/myClinic/search">
      Search criteria : <input type="textbox" name="search_field">
      <input type="submit" value="Search">
    </form>
  </body>

</html>