<html>
  <body>
    <h2>This visit</h2>
    <form method="post" action="/myClinic/updateHistory">
      <table>
      <%
      @fields_array.each do |field|
      %>
        <tr>
          <td><%=field%></td>
          <td><input type="textarea" name="<%=field%>"></td>
        </tr>
        <%end%>
     </table>
    <input type="hidden" name="id" value="<%=@id%>">
      <input type="submit" value="record">
    </form>
  </body>
</html>