<div class="section_title">Patient visit history
  </div>
  <div id="visit_history">
<table id="visit_history_table" class="general_table">
<%
unless @no_history then
  %>
  <thead>
    <tr id="header_row">
    <%@history_headers.each do |header|%>
      <th><%=header%></th>
      <%end%>
    </tr>
  </thead>
  <tbody>
  <%@visit_history_for_display.each do |history|%>
      <tr>
      <%@history_headers.each do |header|%>
        <td><%=history.fetch_entry_value(header)%></a></td>
        <%end%>
      </tr>
      <%
    end
  end
  %>
  </tbody>
</table>
</div>
<%
header_string = ""
@history_headers.each do |header|
  header_string += header + "!"
end
header_string = header_string.chop
%>
<div id="show_new_visit_form">
<a href="/myClinic/getUpdateHistoryForm?id=<%=@id%>&fields=<%=header_string%>" location="#record_visit_section">Update history</a>
</div>
<br/>