body {
  font-family: Helvetica, sans-serif;
}

#static_area {
  position:fixed;
  /*  border-style:solid;
  border-width:0.15em;*/
  width:100%;
  height:5%;
  top:0;
  left: 0;
  /*  border-color: blue;
  border-radius: 0.5em;*/
  background-color : #6698FF;
  color: white;
}

#content_area {
  position:fixed;
  top:7%;
  /*border-style:solid;
  border-width:0.15em;
  border-color: blue;
  border-radius: 0.5em;*/
  width:98%;
  height:90%;
}

#search_form {
  position:absolute;
  left:70%;
  width:30%;
  padding-top: 0.1;
}

#search_field {
  padding-left: 1%;
  border-radius: 0.5em;
  width:80%;
  height: 2em;
  vertical-align: middle;
  margin-top:1.5%;
}

#search_button {
  margin-top:1.5%;
  width:8%;
  vertical-align: middle;
}

#links {
  position: absolute;
  margin-left:2%;
  padding-top: 0.7%;
}

#links a {
  color: white;
}

.general_table {
  border-collapse: collapse;
  position: relative;
  width: 98%;
  left: 1%;
  height: 90%;
}

.borderless_table {
  border-collapse: collapse;
  border:none;
}

.general_table td, th {
  border : 1px solid black;
}

.general_table td {
  border-top: none;
  padding-left: 1%;
}

.rounded_bordered_elements {
/*  border-style:solid;
border-width:0.15em;
border-color: blue;*/
border-radius: 0.5em;
background-color: beige;
}

.sub_section_title {
  text-align: center;
  text-decoration: underline;
  top: 2%;
  position: relative;
}

.section_title {
  text-align: center;
  text-decoration: underline;
}

#patient_basic_information_section {
  position: absolute;
  width: 30%;
  left: 0.5%;
  display: none;
  height: 100%;
}

#patient_details_table {
  position: relative;
  width: 98%;
  left: 1%;
}

#patient_details {
  position: relative;
  top: 5%;
}

#visit_history {
/*height: 80%;*/
  top: 5%;
  position: relative;
}


#visit_history_section {
  position: absolute;
  width: 69%;
  left: 31%;
  height: 100%;
  /*border: 1px solid;*/
  display: none;
}

#visit_history_table {
  position: relative;
  width: 98%;
  left: 1%;
  height: 90%;
}

.scrollable_table thead {
  display: block;
}
.scrollable_table thead tr {
  display: table;
  width: 100%;
}
.scrollable_table thead th {
  width: 20%;
}

.scrollable_table tbody {
  display: block;
  /*overflow: auto;*/
  height: 100%;
}


.scrollable_table tbody tr {
  display: table;
  width: 100%;
}

.scrollable_table tbody td {
  width: 20%;
}

#record_visit_section {
  position: absolute;
  width: 30%;
  top: 32%;
  left: 0.5%;
  /*border: 1px solid;*/
  height: 71%;
  display: none;
}

#update_history_form {
  position: relative;
  width: 98%;
  left: 1%;
}

.hyperlinks {
 margin-left: 2%; 
}

#add_patient_form_holder {
  width: 100%;
  padding-top: 2%;
}

#add_patient_form_section {
  padding-left: 15%;
  padding-top: 5%;
}

#welcome_message {
  position: fixed;
  top: 30%;
  left: 5%;
  font-family: Century Gothic,sans-serif;
  font-style: normal;
  color: rgb(91, 123, 136);
  width: 50%;
}

#welcome_message_title {
  font-size: 200%;
}

#welcome_message_text {
  font-size: 90%;
}

#login_with {
  position: fixed;
  top: 30%;
  left: 55%;
  vertical-align: middle;
}

#user_info {
  position: fixed;
  left: 50%;
  width: 20%;
}
#user_info img {
  width:14%;
  vertical-align: middle;
}

#overlayArea {
	display: none;
	z-index: 100;
	background: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
  }
  
#overlayContent {
	display: none;
  position: relative;
  z-index: 200;
  width: 50%;
  height: 40%;
  background: #FFF;
  color: #000;
  top: 20%;
  left: 25%;
  border-radius: 0.5em;
  }  
  
