#static_area {
  position:fixed;
  border-style:solid;
  border-width:1px;
  width:98%;
  height:10%;
}

#content_area {
  position:fixed;
  top:12%;
  border-style:solid;
  border-width:1px;
  width:98%;
  height:85%;
}

#search_form {
  position:relative;
  left:68%;
}

.general_table {
  border-collapse: collapse;
}

.general_table td, th {
  border : 1px solid black;
}

#patient_basic_information_section {
  position: relative;
  width: 30%;
  border: 1px solid;
  top: 1%;
  left: 0.5%;
}

#patient_details_table {
  position: relative;
  width: 98%;
  left: 1%;
}

#visit_history {
  height: 90%;
}


#visit_history_section {

  position: absolute;
  width: 65%;
  top: 1%;
  left: 32%;
  height: 95%;
  border: 1px solid;
}

#visit_history_table {
  position: relative;
  width: 98%;
  left: 1%;
  height: 90%;
}

#visit_history_table thead {
  display: block;
}
#visit_history_table thead tr {
  display: table;
  width: 98%;
}
#visit_history_table thead th {
  width: 20%;
}

#visit_history_table tbody {
  display: block;
  overflow: auto;
  height: 100%;
}

#visit_history_table tbody tr {
  display: table;
  width: 100%;
}

#visit_history_table tbody td {
  width: 20%;
}

#record_visit_section {
  position: relative;
  width: 30%;
  top: 2%;
  left: 0.5%;
  border: 1px solid;
  height: 60%;
}

#update_history_form {
  position: relative;
  width: 98%;
  left: 1%;
}
#links {
  position: relative;
  left: 60%;
  top: 30%;
}



